<div>
    <form action="" method="POST">
        <p style="padding:0;margin:0;font-size: 16px;font-weight: 600;height:30px;line-height: 30px;border-bottom: 2px solid #EEEEEE;">人工存根</p>
        <div style="padding:10px 0 0;height:30px;line-height: 30px;">
            <div  style="display: inline-block;width:120px;text-align: right;">
                <span style="color:red">*</span>
                会员账号:
            </div>
            <input style="width:500px;" placeholder="批量操作可输入会员ID,以英文逗号,隔开,最多支持100个" type="text" name="name" />
        </div>
        <div style="padding:10px 0 0;margin:0;height:30px;line-height: 30px;">
            <div  style="display: inline-block;width:120px;text-align: right;">
                <span style="color:red">*</span>
                金额:
            </div>
            <input style="width:500px;" placeholder="请输入金额" type="number" name="num" />
        </div>
        <div style="padding: 10px 0 0;margin:0;height:30px;line-height: 30px;">
            <div  style="display: inline-block;width:120px;text-align: right;">
                <span style="color:red">*</span>
                类型:
            </div>
            <div style="display:inline-block;">
                <div style="margin-right:15px;display:inline-block;">
                    <input type="radio" name="type" value="1" style="display:inline-block;" checked="checked"/>钻石
                </div>
                <div style="margin-right:15px;display:inline-block;">
                    <input type="radio" name="type" value="2" style="display:inline-block;" />余额
                </div>
            </div>
        </div>
        <div style="padding: 10px 0 0;margin:0;height:30px;line-height: 30px;">
            <div  style="display: inline-block;width:120px;text-align: right;">
                <span style="color:red">*</span>
                类型:
            </div>
            <div style="display:inline-block;">
                <div style="margin-right:15px;display:inline-block;">
                    <input type="radio" name="paytype" value="1" style="display:inline-block;" checked="checked"/>增加
                </div>
                <div style="margin-right:15px;display:inline-block;">
                    <input type="radio" name="paytype" value="2" style="display:inline-block;" />减少
                </div>
            </div>
        </div>
        <div style="padding:10px 0 0;height:30px;line-height: 30px;">
            <div  style="display: inline-block;width:120px;text-align: right;">
                <span style="color:red">*</span>
                备注:
            </div>
            <input style="width:500px;" placeholder="请输入备注" type="text" name="memo" />
        </div>
        <div style="padding:10px 0;height:30px;line-height: 30px;">
            <div  style="display: inline-block;width:120px;text-align: right;">


            </div>
            <input style="margin-top:10px;width:100px;border-color:#c2e6f3;border-radius: 3px;background-color:#e6f5fa;color:#3faad1;" placeholder="请输入金额" type="submit" name="fname" />
        </div>

    </form>

</div>