<form class="form-inline" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="col-xs-5 col-sm-3 col-md-2 control-label" style="text-align: right;">任务参数</label>
        <div class="col-xs-12 col-sm-9">

            <div class="input-group">
                <span class="input-group-addon">发布任务抽取</span>
                <input type="text" name="packagejson[rebate]" value="{$packagejson['rebate']}" class="form-control">
                <span class="input-group-addon">%佣金</span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-embossed" style="position: relative;left: 40%;top:20px;width:80px;height: 35px;font-size:14px;">{:__('OK')}</button>
</form>